{% extends 'base.html' %}

{% block titre %}
<head>
    <title>Accueil {{ uti.id }}</title>
</head>
{% endblock %}

{% block content %}
<h2>Page d'accueil de {{ uti.id }}</h2>
<br />
<h3>Vos espaces de travail:</h3>
<br />
<h5> {% for esp in esps %}
<li><a href="/espace/{{ esp.id_espace }}/">{{ esp.nom_espace }}</a></li>
{% endfor %}
<br /> </h5>
<h4></br><a href="/choix_ini/{{uti.id}}/">Créer un nouvel espace de travail</a></h4>
<h5> </br><a href="/selection_deux_outils/">Comparer simplement les fonctionnalités de deux outils</a>
<br /><a href='/login/'>Se déconnecter</a>
</h5>
{% endblock %} 
